*{
    margin: 0;
    padding: 0;
    font-family: Gilroy;
}
body{
    background-color: #593d3b;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #593D3B;
    background-color: #AB947E;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #6F5E53;
    color: white;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #6F5E53;
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #AB947E;
    font-size: 8vmin;
}
.msg-container{
    height: 30vmin;
}
.hide{
    display: none;
}